.search-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Adjust padding to make room for the icon */
  /* background: white;  */
  /* border: 1px solid #ccc; */
  border-radius: 0.5vw;
  font-size: 16px;
  /* opacity: 50%; */
  /* background: rgba(255, 255, 255, 0.5);  */
  background-color: #57789f;
  padding-left: 2.5vw;
  color: white;
  font-weight: 600;
}
.search-input::placeholder {
  color: white; /* Set the placeholder text color */
  font-weight: 500; /* Optionally set a different font weight for the placeholder */
  font-size: 1.1vw;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  pointer-events: none; /* Make sure the icon doesn't block input events */
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-0 {
  bottom: 0;
}

.rounded-t-full {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.search-container {
  position: relative;
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.icon-container:hover {
  transform: scale(1.5);
}

.icon-container::after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3vw;
  width: 0;
  background-color: white;
  transition: width 0.3s;
}

.icon-container.selected::after {
  width: 100%;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.search-input {
  transition: width 0.3s ease-in-out;
  width: 0;
}

/* .search-container input:focus,
.search-container:hover .search-input {
  width: 20vw; /* Adjust the width as needed */
/* }  */
.search-container input:focus,
.search-container .search-input {
  width: 15vw; /* Adjust the width as needed */
}

.search-icon {
  position: absolute;
  right: 0.5vw;
  transition: all 0.3s ease-in-out;
}

.search-button {
  background-color: #57789f;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
