.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #1f4b7f;
  border-color: #1f4b7f;
  background: #1f4b7f;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #1f4b7f;
  background: white;
  border-radius: 0.5vw;
}

.custom-select .ant-select-selection-placeholder {
  color: white !important;
  font-size: 1vw;
}

/* Selected value text color */
.custom-select .ant-select-selector {
  color: white !important;
}

/* Overriding inline styles for selected item */
.custom-select .ant-select-selection-item {
  color: #f8f8f8 !important;
}

/* Ensure the input text (if any) is also the same color */
.custom-select .ant-select-selection-search-input {
  color: #ffffff !important;
}

.custom-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
}

.custom-option .icon {
  margin-left: 0.5vw;
  color: #1f4b7f;
  height: 2.5vw;
  width: 2.5vw;
}

.custom-select .ant-select-arrow {
  font-size: 1vw;
  width: 1vw;
  height: 1vw;
  margin-right: 0.5vw;
}

.drag .ant-upload-wrapper .ant-upload-drag {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border: 3px dashed #1f4b7f;
  border-radius: 15px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border: 3px dashed #1f4b7f;
  border-radius: 15px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.custom-dropdown .ant-select-item-option-content {
  color: #1f4b7f;
  /* Color for non-selected options */
}

/* Custom styles for the selected option */
.custom-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-active) {
  color: white !important;
  /* Selected option text color */
}

/* Custom styles for the dropdown arrow */
.custom-dropdown .ant-select-arrow {
  color: white;
  /* Arrow color */
}

/* Custom styles for the dropdown option label */
.custom-option {
  display: flex;
  align-items: center;
}

.custom-option .icon {
  margin-left: 0.5vw;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #1f4b7f;
  border-color: #1f4b7f;
  background: #1f4b7f;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #1f4b7f;
  background: white;
  border-radius: 0.5vw;
}

.custom-select .ant-select-selection-placeholder {
  color: white !important;
  font-size: 1vw;
}

/* Selected value text color */
.custom-select .ant-select-selector {
  color: white !important;
}

/* Overriding inline styles for selected item */
.custom-select .ant-select-selection-item {
  color: #000000 !important;
}

/* Ensure the input text (if any) is also the same color */
.custom-select .ant-select-selection-search-input {
  color: #ffffff !important;
}

.custom-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
}

.custom-option .icon {
  margin-left: 0.5vw;
  color: #1f4b7f;
  height: 2.5vw;
  width: 2.5vw;
}

.custom-select .ant-select-arrow {
  font-size: 1vw;
  width: 1vw;
  height: 1vw;
  margin-right: 0.5vw;
}

.custom-select .ant-select-selector {
  border: none !important;
  /* Remove border */
  box-shadow: none !important;
  /* Remove any box shadow */
}

.custom-select .ant-select {
  border: none !important;
  /* Ensure the outer container has no border */
  box-shadow: none !important;
  /* Remove any box shadow */
}

.custom-select .ant-select-focused .ant-select-selector {
  border: none !important;
  /* Remove border when focused */
  box-shadow: none !important;
  /* Remove box shadow when focused */
}

.drag .ant-upload-wrapper .ant-upload-drag {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border: 3px dashed #1f4b7f;
  border-radius: 15px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border: 3px dashed #1f4b7f;
  border-radius: 15px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.custom-dropdown .ant-select-item-option-content {
  color: #1f4b7f;
  /* Color for non-selected options */
}

/* Custom styles for the selected option */
.custom-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-active) {
  color: white !important;
  /* Selected option text color */
}

/* Custom styles for the dropdown arrow */
.custom-dropdown .ant-select-arrow {
  color: white;
  /* Arrow color */
}

/* Custom styles for the dropdown option label */
.custom-option {
  display: flex;
  align-items: center;
}

.custom-option .icon {
  margin-left: 0.5vw;
}
